
    /*Index*/

      /*Busqueda de Proyecto*/
      .Select_Tipos_Proyecto_Area{
        display: inline;
        width: 115px;
        height: 2rem;
      }

      .boton_Consulta{
        display: none;
        width: 100px !important;
        height: 2rem !important;
        border-radius: 4px;
        background-color: #90a4ae !important;
        color: #FFF;
        border: 3px solid #d3d3d3;
        padding-top: 3px !important;
      }
      .boton_Consulta:active{
        border: 2px solid gray !important;
      }
      #Nombre_Proyecto{
        display: none;
        width: 100px !important;
        margin: 2px !important;
        height: 1.5rem !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid #f2f2f2 !important;
      }
      /*Fin de Busqueda de Proyecto*/




    /*Inicio de Visualizacion de los Avances del Proyecto*/
      /*Inicio de las tablas contenedoras*/
        .contenedor_V{
          border: 3px solid purple;
          display: inline-flex;
          border-radius: 5px;
          width: 70%;
          height: 75%;
          margin-left: 10px;
          margin-bottom: 10px;

          -webkit-overflow-x: scroll !important;
          -moz-overflow-x: scroll !important;
          -o-overflow-x: scroll !important;
          overflow-x: auto !important;
        }
        .Seccion_V{
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 5px;
          margin-right: 5px;
          display: inline-flex;
          text-align: center;
          border: 3px solid purple;
          border-top: 35px solid purple;
          border-radius: 5px;
          text-align: center;
          background-color: #D6A8E6;
          height: 100%;
          min-width: 230px;

        }
        .Titulo_Seccion_V{
          margin-top: -28px;
          margin-right: auto;
          margin-left: auto;
          width: 230px;
          height: 30px;
        }
        .Contenido_Seccion_V{
          margin-top: 55px;
          width: 230px;
          padding: 5px;
          height: 100%;
        }
      /*Fin de las tablas contenedoras*/

      /*Inicio de los Divs contenedores*/
          .Estado_Proyecto{
            background-color: rgba(42,57,47,0.5) !important;
            border-bottom-left-radius: 50px !important;
            border-top-left-radius: 50px !important;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            width: 220px !important;
            display: inline-table;
            position: inherit;
          }
          .Avance_Estado{

          }
          .Titulo_Estado{

          }
          .Contenido_Estado{

          }
      /*Fin de los Divs contenedores*/
    /*Fin de Visualizacion de los Avances del Proyecto*/


      .Conten-proyectos{
        padding: 20px;
      }

      .linea{
        display: inline;
      }

      .sidebar_Detalles{
          position: fixed;
          background-color: gray;
          top: 50px;
          right: -250px;
          display: block;
          width:  250px;
          height: 92%;
          color: #fff;
          padding: 10px;
          padding-top: 20px;
      }


      .Centrar_P{
        text-align: center;
      }
      .Justificar_P{
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
      }

      .perfil{
        display: inline-table;
        width: 100px;
        text-align: center;
      }
      /*Index-Detalle-Foto-Empleado*/
      .I_D_F_E{
        border: 1px solid black;
        border-radius: 50%;
        align: center;
        width: 50px;
        height: 50px;
      }

      /*Index-Detalle-Foto-Empleado*/
      .I_D_N_E{
        font-size: 12px;
      }

      .ocultar_D{
       visibility: hidden;
      }

      .wrap {
       width: 600px;
       margin:0 auto;
     }

      .A_Detalles{

      }

      /*Posiciones Proyectos*/
        .portlet {
          margin: 0 1em 1em 0;
          padding: 0.3em;
        }
        .portlet-header {
        }
        .portlet-toggle {
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -8px;
        }
        .portlet-content {
          padding: 0.4em;
        }
        .portlet-placeholder {
          border: 1px dotted black;
          margin: 0 1em 1em 0;
          height: 50px;
        }
      /*Fin de Posiciones de Proyecto*/
      /*Fin del Index(Visualizaciones)*/


      /*Alta de Proyectos*/
        //Datos de Proyecto

        //Cuadro de Area

    
      /*Fin de Alta de proyectos*/



     // Colors
      $barColor: purple;
      $overlayColor: #fffde8;
      $backColor: #2f3439;

     /* -------------------------------------
     * Bar container
     * ------------------------------------- */
       .progress-radial {
         float: left;
         margin-right: 30px;
         position: relative;
         width: 85px;
         height: 85px;
         border-radius: 50%;
         border: 2px solid $backColor; // remove gradient color
         background-color: $barColor; // default 100%
       }
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
        .progress-radial .overlay {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color:$overlayColor;
            border-radius:50%;
            margin-left: 20px;
            margin-top: 20px;
            text-align:center;
            line-height: 40px;
            font-size: 16px;
        }

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */

$step: 1; // step of % for created classes

$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
  .progress-#{$i*$step}{
  @if $i < $half {
    $nextdeg: 90deg + ( $increment * $i );
    background-image:linear-gradient(90deg, $backColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
  } @else {
    $nextdeg: - 90deg + ($increment * ($i - $half));
    background-image:linear-gradient($nextdeg, $barColor 50%,rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
  }
}
}

