body{
  margin: 0px !important;
  padding: 0px !important;
}
.fondox {
  background: #000000 url("../img/hola.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.logo{
}