/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15/08/2015, 07:22:21 PM
    Author     : Horacio
*/
.mensajex {
  border: 3px solid red;
  padding: 10px;
  background: blue;
}

.fondo {
  display: inline-table;
  background: rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 35%;
  bottom: 25%;
  left: 33%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
}

#form_pregunta {
  display: inline-table;
  background: rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 500px;
  bottom: 25%;
  left: 40%;
  padding: 40px;
  position: fixed;
  top: 30%;
}

.Preguntas {
  display: inline-flex;
  max-height: 400px;
  overflow-y: auto;
  display: block;
  padding-bottom: 10px;
}

#preguntas_frecuentes {
  background: rgba(0, 0, 0, 0.3);
  height: 35%;
  bottom: 25%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px;
  left: 0%;
  top: 15%;
}

.frecuentes {
  display: inline-flex;
  max-height: 400px;
  max-width: 500px;
  display: block;
  padding-bottom: 40px;
  position: fixed;
  left: 15%;
  top: 21%;
}

footer {
  position: fixed !important;
}

/*estilos irvvin*/
.inicial {
  border-style: solid;
  border-top: 35px solid purple;
  border-color: purple;
  width: 300px !important;
  height: 585px !important;
  padding-left: 7px;
  padding-top: 3px;
  position: absolute;
  margin-left: 5px;
  margin-top: 6px;
  border-radius: 10px;
  text-align: center;
}

.text {
  margin-top: -28px;
  margin-left: auto;
  margin-right: auto;
}

.textpos {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #F2F2F2;
  position: relative;
  margin-top: -37px;
  width: 260px;
  margin-left: 26px;
  word-wrap: break-word;
}

.columna {
  background-color: #F2F2F2;
  height: 500px;
  width: 285px !important;
  -webkit-overflow-y: auto !important;
  -moz-overflow-y: auto !important;
  -o-overflow-y: auto !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.cont {
  -webkit-overflow-x: auto !important;
  -moz-overflow-x: auto !important;
  -o-overflow-x: auto !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  width: 930px !important;
  height: 585px !important;
  padding-right: 12px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 310px;
  margin-top: 6px;
  border-radius: 10px;
  border: solid purple;
  display: inline-flex;
}

.posicion {
  padding-left: 7px;
  padding-top: 2px;
  background-color: #f2f2f2;
  height: 100%;
  min-width: 310px;
  max-width: 310px;
  display: block;
  border: 7px solid purple;
  border-top: 35px solid purple;
  border-top-left-radius: 20px;
  margin-right: 12px !important;
}

.icon {
  position: relative !important;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding-top: 7px;
  margin-top: -37px;
  margin-left: -14px;
  text-align: center;
  background-color: purple;
}

.imag {
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.relleno {
  display: inline-table;
  width: 2px;
  height: 100%;
  border: 10px;
}

.Form_tarea {
  margin-top: 10px;
}

/*@media (min-width: 850px) {
    .posicion {
        margin-right: 12px;
        background-color: rgba(200, 0, 200, 0.3);
        height: 100%;
        width: 200px;
        border: 6px solid rgb(180, 100, 180);
    }
    .icon {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: rgb(180, 100, 180);
        margin-top: -6px;
        margin-left: -6px;
        text-align: center;
    }
    .imag{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        background-color: #f2f2f2;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
}*/
.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: inherit;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #FEFEFE;
  overflow-x: hidden;
}

.global {
  width: 100%;
  z-index: 8000;
}

/* Elemento del sidebar*/
.sidebar {
  position: absolute;
  width: 20%;
  height: 100%;
  background: #333;
  color: #fff;
  outline: 1px solid #2a2a2a;
}

.sidebar p {
  text-align: center;
}

#icon-sidebar a {
  background-color: #7e57c2;
}

/* */
.tablaInventario {
  width: 40%;
  height: 40%;
  margin-left: 200px;
  position: relative;
  float: left;
  transition: all 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.sidebar li {
  outline: 1px solid #2a2a2a;
  transition: border 0.3s;
}

.sidebar li:hover {
  background: #444;
  border-left: 5px solid #8e24aa;
}

.contenido {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #eee;
  padding: 15px;
  transition: all 0.3s;
}

.abrir {
  transform: translateX(250px);
  transition: 0.3s;
}

.ocultar {
  visibility: hidden;
}

.aparecer {
  visibility: visible;
}

/*
.menu_bar{
	display: none;
}
header{
	width: 100%;
}
header nav{
	background: #023859;
	z-index: 1000;
	max-width: 1000px;
	width: 95%;
	margin: 20px auto;
}
header nav ul{
	list-style: none;
}
header nav ul li:hover{
	background: #E6344A;
}
header nav ul li{
	display: inline-block;
	position: relative;
}
header nav ul li a{
	color: #fff;
	display: block;
	padding: 20px;

}
header nav ul li a span{
	margin-right: 10px;
}*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ticketVentas {
  height: 70%;
  width: 30%;
  background-color: #FFFFFF;
  margin: 0;
  margin-left: -5px;
  margin-bottom: -6px;
  display: inline-block;
  padding: 0;
}

.productosVentas {
  height: 432px;
  width: 901px;
  background-color: #a21318;
  display: inline-block;
  position: absolute;
  margin: 0px;
  padding-left: 25px;
  padding-top: 25px;
  -webkit-overflow-x: auto !important;
  -moz-overflow-x: auto !important;
  -o-overflow-x: auto !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.botonesVentas {
  height: 30%;
  width: 100%;
  background-color: #000000;
  display: block;
}

.hijos {
  height: 170px !important;
  width: 100px !important;
  margin-left: 15px;
  margin-right: 5px;
  padding: 0 !important;
  display: inline-block !important;
  margin-bottom: 10px;
  text-align: center;
}

figure {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.prueba {
  height: 50px;
  width: 50px;
}

.botonesOpcion {
  margin: 10px;
  background-color: #1485CC;
  width: 90px;
  height: 90px;
  display: inline-block;
}

.botonesOpcion:hover {
  border-color: #880e4f;
}

.imgHijos {
  height: 50%;
  width: 50%;
}

.global {
  height: 100%;
  width: 100%;
  background-color: #5a5a5a;
}

.compra {
  overflow: auto;
  margin: 0 auto;
  height: 90%;
  width: 80%;
  position: relative;
  margin-top: 20px;
  background-color: #FFFFFF;
}

.ventana-modal {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  color: black;
  background-image: url("../../../public/img/sources/bg-modal.png") !important;
  top: 0;
  left: 0;
  z-index: 99999;
}

.button-ventana {
  width: 80px;
  height: 50px;
  display: inline-block;
  margin-left: 20px;
}

.form {
  width: 300px;
  height: 300px;
  padding: 25px;
  background-color: #eceff1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -175px;
  border-radius: 20;
}

.cerrar-ventana {
  color: red;
  text-align: right;
  font-weight: 900;
}

/*Index*/
/*Busqueda de Proyecto*/
.Select_Tipos_Proyecto_Area {
  display: inline;
  width: 115px;
  height: 2rem;
}

.boton_Consulta {
  display: none;
  width: 100px !important;
  height: 2rem !important;
  border-radius: 4px;
  background-color: #90a4ae !important;
  color: #FFF;
  border: 3px solid #d3d3d3;
  padding-top: 3px !important;
}

.boton_Consulta:active {
  border: 2px solid gray !important;
}

#Nombre_Proyecto {
  display: none;
  width: 100px !important;
  margin: 2px !important;
  height: 1.5rem !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #f2f2f2 !important;
}

/*Fin de Busqueda de Proyecto*/
/*Inicio de Visualizacion de los Avances del Proyecto*/
/*Inicio de las tablas contenedoras*/
.contenedor_V {
  border: 3px solid purple;
  display: inline-flex;
  border-radius: 5px;
  width: 70%;
  height: 75%;
  margin-left: 10px;
  margin-bottom: 10px;
  -webkit-overflow-x: scroll !important;
  -moz-overflow-x: scroll !important;
  -o-overflow-x: scroll !important;
  overflow-x: auto !important;
}

.Seccion_V {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-flex;
  text-align: center;
  border: 3px solid purple;
  border-top: 35px solid purple;
  border-radius: 5px;
  text-align: center;
  background-color: #D6A8E6;
  height: 100%;
  min-width: 230px;
}

.Titulo_Seccion_V {
  margin-top: -28px;
  margin-right: auto;
  margin-left: auto;
  width: 230px;
  height: 30px;
}

.Contenido_Seccion_V {
  margin-top: 55px;
  width: 230px;
  padding: 5px;
  height: 100%;
}

/*Fin de las tablas contenedoras*/
/*Inicio de los Divs contenedores*/
.Estado_Proyecto {
  background-color: rgba(42, 57, 47, 0.5) !important;
  border-bottom-left-radius: 50px !important;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  width: 220px !important;
  display: inline-table;
  position: inherit;
}

/*Fin de los Divs contenedores*/
/*Fin de Visualizacion de los Avances del Proyecto*/
.Conten-proyectos {
  padding: 20px;
}

.linea {
  display: inline;
}

.sidebar_Detalles {
  position: fixed;
  background-color: gray;
  top: 50px;
  right: -250px;
  display: block;
  width: 250px;
  height: 92%;
  color: #fff;
  padding: 10px;
  padding-top: 20px;
}

.Centrar_P {
  text-align: center;
}

.Justificar_P {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.perfil {
  display: inline-table;
  width: 100px;
  text-align: center;
}

/*Index-Detalle-Foto-Empleado*/
.I_D_F_E {
  border: 1px solid black;
  border-radius: 50%;
  align: center;
  width: 50px;
  height: 50px;
}

/*Index-Detalle-Foto-Empleado*/
.I_D_N_E {
  font-size: 12px;
}

.ocultar_D {
  visibility: hidden;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

/*Posiciones Proyectos*/
.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

/*Fin de Posiciones de Proyecto*/
/*Fin del Index(Visualizaciones)*/
/*Alta de Proyectos*/
/*Fin de Alta de proyectos*/
/* -------------------------------------
* Bar container
* ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px solid #2f3439;
  background-color: purple;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(90deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-1 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(93.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-2 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(97.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-3 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(100.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-4 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(104.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-5 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(108deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-6 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(111.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-7 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(115.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-8 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(118.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-9 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(122.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-10 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(126deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-11 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(129.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-12 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(133.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-13 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(136.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-14 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(140.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-15 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(144deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-16 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(147.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-17 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(151.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-18 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(154.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-19 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(158.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-20 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(162deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-21 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(165.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-22 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(169.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-23 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(172.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-24 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(176.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-25 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(180deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-26 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(183.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-27 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(187.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-28 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(190.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-29 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(194.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-30 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(198deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-31 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(201.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-32 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(205.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-33 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(208.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-34 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(212.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-35 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(216deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-36 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(219.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-37 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(223.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-38 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(226.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-39 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(230.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-40 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(234deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-41 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(237.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-42 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(241.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-43 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(244.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-44 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(248.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-45 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(252deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-46 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(255.6deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-47 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(259.2deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-48 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(262.8deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-49 {
  background-image: linear-gradient(90deg, #2f3439 50%, transparent 50%, transparent), linear-gradient(266.4deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
  background-image: linear-gradient(-90deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-51 {
  background-image: linear-gradient(-86.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-52 {
  background-image: linear-gradient(-82.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-53 {
  background-image: linear-gradient(-79.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-54 {
  background-image: linear-gradient(-75.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-55 {
  background-image: linear-gradient(-72deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-56 {
  background-image: linear-gradient(-68.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-57 {
  background-image: linear-gradient(-64.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-58 {
  background-image: linear-gradient(-61.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-59 {
  background-image: linear-gradient(-57.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-60 {
  background-image: linear-gradient(-54deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-61 {
  background-image: linear-gradient(-50.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-62 {
  background-image: linear-gradient(-46.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-63 {
  background-image: linear-gradient(-43.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-64 {
  background-image: linear-gradient(-39.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-65 {
  background-image: linear-gradient(-36deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-66 {
  background-image: linear-gradient(-32.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-67 {
  background-image: linear-gradient(-28.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-68 {
  background-image: linear-gradient(-25.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-69 {
  background-image: linear-gradient(-21.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-70 {
  background-image: linear-gradient(-18deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-71 {
  background-image: linear-gradient(-14.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-72 {
  background-image: linear-gradient(-10.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-73 {
  background-image: linear-gradient(-7.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-74 {
  background-image: linear-gradient(-3.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
  background-image: linear-gradient(0deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-76 {
  background-image: linear-gradient(3.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-77 {
  background-image: linear-gradient(7.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-78 {
  background-image: linear-gradient(10.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-79 {
  background-image: linear-gradient(14.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-80 {
  background-image: linear-gradient(18deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-81 {
  background-image: linear-gradient(21.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-82 {
  background-image: linear-gradient(25.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-83 {
  background-image: linear-gradient(28.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-84 {
  background-image: linear-gradient(32.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-85 {
  background-image: linear-gradient(36deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-86 {
  background-image: linear-gradient(39.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-87 {
  background-image: linear-gradient(43.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-88 {
  background-image: linear-gradient(46.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-89 {
  background-image: linear-gradient(50.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
  background-image: linear-gradient(54deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-91 {
  background-image: linear-gradient(57.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-92 {
  background-image: linear-gradient(61.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-93 {
  background-image: linear-gradient(64.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-94 {
  background-image: linear-gradient(68.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-95 {
  background-image: linear-gradient(72deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-96 {
  background-image: linear-gradient(75.6deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-97 {
  background-image: linear-gradient(79.2deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-98 {
  background-image: linear-gradient(82.8deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-99 {
  background-image: linear-gradient(86.4deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.progress-100 {
  background-image: linear-gradient(90deg, purple 50%, transparent 50%, transparent), linear-gradient(270deg, purple 50%, #2f3439 50%, #2f3439);
}

.column {
  width: 170px;
  float: left;
  padding-bottom: 100px;
}

.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: inherit;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
.backProfile-image {
  display: none;
  background-repeat: no-repeat;
  height: 195px;
  border-bottom: 5px solid rgba(128, 0, 128, 0.4);
}

.backProfile-image:hover > #changeBack {
  opacity: 0.8;
}

#changeBack {
  position: absolute;
  right: 20px !important;
  margin-top: 20px;
  color: #F1F1F1;
  font-size: 12px;
  font-weight: 300;
  width: 126px;
  height: 37px;
  background: #000;
  border: 3px solid rgba(255, 255, 255, 0.7);
  padding: 9px 9px 9px 10px;
  opacity: 0.3;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

#changeBack:hover {
  opacity: 1;
}

#profileImage {
  position: absolute;
  margin-top: 90px;
  margin-left: 25px;
  width: 150px;
  height: 150px;
  border: 5px solid rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  z-index: 1;
}

#profileImage:hover {
  border: 5px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.4);
}

#changeProfile {
  display: none;
}

#profileImage:hover > #changeProfile {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  box-shadow: inset 0 0 100px #000;
}

.contadores {
  background: #551A50;
  margin-top: 0;
  width: 100%;
  min-height: 70px;
  padding: 10px 20px 20px 0px;
  color: #FFF;
  border-bottom: 1px solid rgba(128, 0, 128, 0.6);
  box-shadow: inset 0 0 5px black;
  text-align: center;
}

.numberT {
  font-size: 30px;
}

.container-fluid {
  padding: 0px !important;
}

#dashboard {
  padding: 20px !important;
}

.nameProfile {
  padding-top: 140px;
  color: #FFF;
  font-size: 3.9vh;
  position: absolute;
  margin-left: 200px;
  text-shadow: 0px 0px 4px #FFF;
}

.datosPerfil {
  border: 1px solid purple;
  min-height: 400px;
  padding: 20px;
  width: 282px !important;
}

@media (max-width: 480px) {
  .datosPerfil {
    width: 100% !important;
  }

  .nameProfile {
    padding-top: 120px;
    color: #FFF;
    font-size: 3.9vh;
    position: absolute;
    margin-left: 200px;
  }

  .contadores {
    padding: 0px 0px 0px 0px;
    background: purple;
  }

  .contadores > .span12:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .contadores > .span12 > .span2:nth-child(2n+2) {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .span2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #dashboard {
    padding: 0 !important;
  }
}
#uploadimage {
  display: none;
}

@media (min-width: 720px) {
  .span1 {
    width: 8.33333%;
    margin: 0;
  }

  .span2 {
    width: 16.66667%;
    margin: 0;
  }

  .span3 {
    width: 25%;
    margin: 0;
  }

  .span4 {
    width: 33.33333%;
    margin: 0;
  }

  .span5 {
    width: 41.66667%;
    margin: 0;
  }

  .span6 {
    width: 50%;
    margin: 0;
  }

  .span7 {
    width: 58.33333%;
    margin: 0;
  }

  .span8 {
    width: 66.66667%;
    margin: 0;
  }

  .span9 {
    width: 75%;
    margin: 0;
  }

  .span10 {
    width: 83.33333%;
    margin: 0;
  }

  .span11 {
    width: 91.66667%;
    margin: 0;
  }

  .span12 {
    width: 100%;
    margin: 0;
  }
}
.fullIMG {
  background: no-repeat center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -ms-background-size: cover !important;
}

.page-title {
  margin: 20px 3px 15px 30px !important;
}

.datosPerfil > .span12 > p {
  width: 95px !important;
  display: inline-flex;
}

.datosPerfil > .span12 {
  background: rgba(128, 0, 128, 0);
  border-bottom: 1px solid #eae8e6;
  height: 25px;
  padding-bottom: 4px;
  margin-bottom: 5px;
}

.datosPerfil > .span12 > input[type="text"] {
  width: 140px !important;
  z-index: 9 !important;
  border: 0px solid #e5e5e5;
  background: #F2F2F2 !important;
}

.datosPerfil > .span12 > i {
  color: rgba(128, 0, 128, 0.6);
  display: none;
  position: absolute;
  margin-left: -22px;
}

/*# sourceMappingURL=ourstyles.css.map */
